* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Navbar Starts */

.navbar-shadow {
  box-shadow: 5px 10px 25px #22222452;
  height: 12vh;
}



.form-postion {
  position: relative;
  top: 120px;
  width: 80%;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  display: flex;
}

.nav-logo {
  width: 80px;
  height: 80px;
}

.bgCol {
  background-color: #6c63ff;
  padding: 0.65rem;
  border-radius: 10px;
  border: none;

}

.navbar-toggler:focus {
  border: 0 !important;
  box-shadow: none !important;

}

.navbar-toggler {
  border: 0 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
.nav-logo-div{
  margin-left:20px;
}
.btn-group-div{
  margin-right: 20px;
}
/* Hero Start */
.hero-height {
  width: 100%;
  height: 30vh;
}

.hero-postion {
  position: relative;
  top: 85px;
 
}

/* Search Starts */

.bottom {
  margin-bottom: 100px;
}

.search-bar {
  outline: none;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
}

.search-btn {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}

/* Heding Starts*/

.heading-font {
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-top: 25px;
}

.line {
  width: 160px;
  background-color: rgb(25, 189, 25);
  height: 3px;
  margin-bottom: 50px;
  border-radius: 15px;
  margin-left: 5px;
}

/* Product */

.Product-discount {
  font-size: small;
  color: green;
}

.Product-card {
  width: 300px;
  box-shadow: 5px 5px 25px grey;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}

.Product-btn-card {
  display: flex;
  margin: auto;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.Product-img {
  width: 150px;
  margin: auto;
  justify-content: center;
  display: flex;
  height: 150px;
  margin-bottom: 10px;
}

.Product-btn {
  width: auto;
  margin:10px auto;
  height: 50px;
}

.Product-grid {
  display: grid;
  grid-auto-rows: 2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 20px;
  justify-content: center;
  margin: auto;


}
.Product-price{
  display: flex;
}
.Product-price-mrp{
  margin: 0px 5px;
  font-size: medium;
  font-weight: 700;
  text-decoration: line-through;
}

/* Footer */
.Footer-main {
  box-shadow: -10px 10px 30px;
  margin-top: 20rem !important;
}

.Footer-img {
  width: 150px;
}

.Footer-heading {
  font-family: 'Roboto';
  font-family: 800;
}
/* Media query */

@media (max-width:990px) {
  .Product-Showcase-Img {
    width: 80%;
}
}
@media (max-width:769px) {
  .Product-Showcase-Details {
    padding: 0px 10px;
}
  .Product-Showcase-Img {
    width: 50%;
}
.Product-Showcase-Title {
  line-height: 135%;
  margin-bottom: 10px !important;
  font-size: 25px;
  font-weight: 800;
  font-family: Roboto;
}
.Product-Showcase-Description {
  line-height: 150%;
  margin-bottom: 35px !important;
  font-size: medium;
}
}
@media (max-width:935px) {
  .Product-card {
    width: 250px;
    box-shadow: 5px 5px 25px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    border-radius: 20px;

  }

}

@media (max-width:885px) {
  .Product-card {
    width: 90%;
    box-shadow: 5px 5px 25px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    border-radius: 20px;

  }
  .Product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:490px) {
  .Product-card {
    width: 80%;
    box-shadow: 5px 5px 25px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
   
    padding: 20px;
    border-radius: 20px;

  }

  .Product-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;

  }

  /* .search-btn {
    display: none;
  } */

}
/* Search Results */

.SearchResultContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;
  margin-top: 15px;
 
}
.SearchResultParagraph {
  
  width: 100%;
  justify-content: center;
  margin: auto;
  display: flex;

  height: auto;
  align-content: center;
  align-items: center;
  
}

/* Spinner */
.spinner-height{
  height: 100vh;
}

/* Product Showcase Page */
.Product-showcase{
  
  height: 100vh;
  margin-bottom: 200px;
  width: 100%;
  position: relative;
  top: 125px;
}

.Product-Showcase-Img {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  
}
.Product-Showcase-Price {
  display: flex;
  font-size: larger;
}
.Product-Showcase-Price-Mrp {

  font-weight: 900;
  text-decoration: line-through;
  margin-right: 10px;
}
.Product-Showcase-Description {
  line-height: 150%;
  margin-bottom: 50px;
}
.Product-Showcase-Title {
  line-height: 135%;
  margin-bottom: 25px;
}
/* Error Starts */
.Error-Heading{
  font-size: 8rem;
  font-family:  fantasy;
}

.Error-btn{
  padding: 10px;
font-family: Oswald;
display: flex;
align-content: center;
margin: auto;
}

/* CartItem */

.CartItem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.CartItem {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: 150px;
  width: 80%;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px grey;

}
.CartItem-img{
  width: 50%;
  margin-bottom: 10px;
}
/* Total Items */
.TotalItem-add {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  border: 1px solid grey;
  padding: 5px 12px;
  border-radius: 44px;
}
.TotalItem-sub {
  display: flex;
  justify-content: flex-end;
  margin: auto;

  border: 1px solid grey;
  padding: 5px 12px;
  border-radius: 44px;
}
.TotalItem-container {
  display: flex;
  /* width: 80%; */
  justify-content: center;
  width: 100%;
  /* border: 1px solid grey; */
  border-radius: 15px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 900;
}
.TotalItem-number {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid grey;
  padding: 5px 12px;
}
.TotalItem-para{
  align-items: center;
  margin: auto;
  display: flex;

}
.Empty-Cart {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

/* Payment button */
.Payment-btn-main {
  height: 50px;
}